S3method(plot,mWaveD)
S3method(plot,waveletCoef)
S3method(summary,mWaveD)
export(blurSignal)
export(boxcarBlur)
export(detectBlur)
export(directBlur)
export(gammaBlur)
export(mWaveDDemo)
export(makeBlocks)
export(makeBumps)
export(makeCusp)
export(makeDoppler)
export(makeHeaviSine)
export(makeLIDAR)
export(multiCoef)
export(multiEstimate)
export(multiNoise)
export(multiProj)
export(multiSigma)
export(multiThresh)
export(multiWaveD)
export(resolutionMethod)
export(sigmaSNR)
export(theoreticalEta)
export(waveletThresh)
import(Rcpp)
importFrom(grid,grid.layout)
importFrom(grid,grid.newpage)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
importFrom(shiny,runApp)
importFrom(graphics,abline)
importFrom(graphics,axTicks)
importFrom(graphics,axis)
importFrom(graphics,grid)
importFrom(graphics,lines)
importFrom(graphics,matlines)
importFrom(graphics,matplot)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,segments)
importFrom(grDevices,devAskNewPage)
importFrom(stats,dgamma)
importFrom(stats,mvfft)
importFrom(stats,rnorm)
useDynLib(mwaved,mwaved_multiCoef)
useDynLib(mwaved,mwaved_multiEstimate)
useDynLib(mwaved,mwaved_multiProj)
useDynLib(mwaved,mwaved_multiSigma)
useDynLib(mwaved,mwaved_multiThresh)
useDynLib(mwaved,mwaved_multiWaveD)
useDynLib(mwaved,mwaved_waveletThresh)