useDynLib(mwaved, mwaved_multiSigma, mwaved_multiEstimate, mwaved_mWaveD, mwaved_multiThresh, mwaved_multiCoef, mwaved_multiProj, mwaved_waveletThresh)

# Wavelet Coefficient objects and methods
S3method(plot,waveletCoef)
export(waveletThresh)

# mWaveD methods
S3method(plot,mWaveD)
S3method(summary,mWaveD)

# Exported functions
export(mWaveD)
export(multiCoef)
export(multiEstimate)
export(multiProj)
export(multiSigma)
export(multiThresh)

